
.app{

}

.content{
     /* border: 2px solid blue;  */
     padding: 0px;
     margin: 0px;
}
.TopbarBox{
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 2px solid dodgerblue; */
}


.MainContainer{
    display: flex;
    /* border: 2px solid rgb(255, 30, 30);    */
    flex-direction: row;
    height: 85vh;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;

   
}

.container1, .statsContainer, .statsContainer2{
    border-radius: 15px;
}
.container1{
    justify-content: space-around;
    /* border: 3px solid pink;   */
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.container2{
    justify-content: space-around;
    display: flex;

}

.diagramContainer{
    height: 50%;
    margin: '20px 10px';
    padding: 20px 20px 20px 20px;
    /* border: 2px #cfd0d1 solid; */
    /* margin-bottom: 2px;
    border-radius: 7px; */
}

.diagramContainer2{
    height: 90%;
    padding: 20px 20px 20px 20px;
}
/*Fun Facts**/
.funFact{
    position: absolute;
    right: 33%;
    bottom: 15px;
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: row;
    z-index: 20;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
}

.funText{
    margin:10px;
}

.funIcon{
    margin: 10px;
}

/* Statistics */
.MainStatsContainer{
    width: 38%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.statsContainer{ /* Styling when 3 containers are displayed */
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.statsContainer2{ /* Styling when 2 containers are displayed */
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Overview */
.ImageContainer, .InfoContainer{
    height: 41vh;
    border-radius: 0.8%;
    margin-bottom: 20px;
}
.ImageContainer{
    background-image: url('../src/images/d-school thin.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex; 
    flex-direction:column; 
    justify-content:center;
    /* align-items: center; */
}

.Heading, .Subheading{
    font-family:'Roboto',sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding:0;
    
}

.Heading{
    font-size: 75px;
    font-weight: 800;
    
}
.Subheading{
    font-size: 20px;
    

}

.InfoContainer{
   display:flex;
   flex-direction: row;
   justify-content:space-between;
}

.InfoContainer2{
    width:32%; 
    height: 100%;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.InfoImage{
    height:30%;
    width: auto;
    display: cover;
}
