/* Styling for the dropdown menus */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@400;500;700&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serrif;
}

.notificationList {
  position: absolute;
  top: 55px;
  right: -40px;
  width: 210px;
  height:auto;
  transform: translate(-45%);
  background: solid #242526;
  /* border: 1px solid #474a4d; */
  border-radius:8px;
  padding: 1rem;
  z-index:20;
}



.notification-item {
  border-top: 4px #474a4d;
  height:auto;
  display: flex;
  align-items: centre;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
  font-weight:bold;
  z-index: 20;
}


.dropdown-label:hover {
  color: #3da58a
}

.dropdown {
  position: absolute;
  top: 55px;
  right: -40px;
  width: 218px;
  height:auto;
  transform: translate(-45%);
  background: solid #242526;
  /* border: 1px solid #474a4d; */
  border-radius:8px;
  padding: 1rem;
  z-index:20;
}

a {
  text-decoration: none;
}

.menu-item {
  height:auto;
  display: flex;
  align-items: centre;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
  font:bold;
  border-top: 8px #555;
  z-index: 20;
}

.h10 {
  text-size-adjust: auto;
}

.h5 {
font-size: xx-large;
}
.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  background: #888;
}

/*Handle on Hover*/
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Styling for Login dropdown */
.basic-button{
  border-style: none;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;

}

.basic-button:hover{
  border-color: #3da58a;
  color: #3da58a;

}
.logout-button{
  border-style: none;
  border-radius: 8px;
  padding: 5px;
  margin-top:10px;

}
.middle-container{
  text-align: center;
}

.middle-container .login-heading{
  margin-bottom:15px; 
}

.field{
  margin-top: 15px;
  margin-bottom: 15px;
}
.login {
  position: absolute;
  top: 55px;
  right: -75px;
  width: 210px;
  height:auto;
  transform: translate(-45%);
  background: solid #242526;
  /* border: 1px solid #474a4d; */
  border-radius:8px;
  padding: 1rem;
  z-index:20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.error-message, .feedback-message{
  color: #3da58a;
}

.feedback-message{
  margin-bottom: 15px;
  margin-top:15px;
  text-align: center;
}

/*Styling for Settings dropdown*/